<link rel="import" href="../tile.html">
<link rel="import" href="../../socket-connection.html">

<dom-module id="hb-slack-latest-gif-tile">
  <style>
    :host hb-tile {
      color: #fff;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      background-color: rgb(64, 224, 208);
      background-position: center;
      background-size: cover;
    }
  </style>
  <template>
    <hb-tile id="tile">
      <description>latest gif</description>
      <endpoint>Slack</endpoint>
    </hb-tile>

    <socket-connection endpoint="slack"
                       on-data="onData">
    </socket-connection>

  </template>
  <script>
    Polymer({
      is: 'hb-slack-latest-gif-tile',
      onData: function (ev, data) {
        var backgroundImage = data.lastGif ?
                              'url("' + encodeURI(data.lastGif) + '")' :
                              'none';

        this.$.tile.style.backgroundImage = backgroundImage;
        this.$.tile.ping();
      }
    });
  </script>
</dom-module>
