<link rel="import" href="../tile.html">
<link rel="import" href="../../socket-connection.html">

<dom-module id="hb-slack-users-tile">
  <style>
    :host hb-tile {
      background: rgb(64, 224, 208);
    }

    :host(:nth-child(even)) hb-tile {
      background: rgb(50, 186, 180);
    }
  </style>
  <template>
    <hb-tile id="tile">
      <value>{{ usersCount }}</value>
      <header>online</header>
      <description>users</description>
      <endpoint>Slack</endpoint>
    </hb-tile>

    <socket-connection endpoint="slack"
                       on-data="onData">
    </socket-connection>

  </template>
  <script>
    Polymer({
      is: 'hb-slack-users-tile',
      usersCount: 0,
      onData: function (ev, data) {
        this.usersCount = data.uniqueUsers;
        this.$.tile.ping();
      }
    });
  </script>
</dom-module>
