<link rel="import" href="../tile.html">
<link rel="import" href="../../socket-connection.html">

<dom-module id="hb-ion-people-tile">
  <template>
    <hb-tile id="tile" class$="[[allPeopleBorderClass]]">
      <value>
        <img class="app-img-svg" src="./../../../assets/people.svg" alt="">
        <span class$="[[allPeopleTextClass]]">{{ usersCount }}</span>
      </value>
      <!--<header>people</header>-->
      <!--<description>@office</description>-->
      <!--<endpoint>ION</endpoint>-->


      <description>
        <div class="hb-tile__footer">
          <p>people</p>
          <p class="hb-tile__footer-header">@office</p>
          <p>ION</p>
        </div>
      </description>

    </hb-tile>

    <socket-connection endpoint="ion"
                       on-data="onData">
    </socket-connection>

  </template>

  <script>
    Polymer({
      is: 'hb-ion-people-tile',
      usersCount: 0,
      allPeopleCount: 0,
      allPeopleTextClass: '',
      allPeopleBorderClass: '',
      onData: function (ev, data) {
        this.usersCount = data.users;
        this.allPeopleCount = data.allPeopleCount;

        if ((this.usersCount > 0) && (this.usersCount == this.allPeopleCount)) {
          this.allPeopleTextClass = 'text-green';
          this.allPeopleBorderClass = 'border-green';
        }

        this.$.tile.ping();
      }
    });
  </script>
</dom-module>
