<link rel="import" href="../tile.html">
<link rel="import" href="../../socket-connection.html">

<dom-module id="hb-ion-people-tile">
  <template>
    <hb-tile id="tile" class$="[[allPeopleBorderClass]]">
      <value>
        <div class="ion-people">
          <div>
            <img class="app-img-svg" src="./../../../assets/people.svg" alt="">
            <span class$="[[allPeopleTextClass]]">{{ usersCount }}</span>
          </div>

          <div>
            <img class="app-img-svg" src="./../../../assets/office.svg" alt="">
            <span class$="[[allPeopleTextClass]]">{{ homeOfficeCount }}</span>
          </div>
        </div>
      </value>

      <description>
        <div class="hb-tile__footer">
          <p>people</p>
          <p class="hb-tile__footer-header">@office/@home</p>
          <p>ION</p>
        </div>
      </description>

    </hb-tile>

    <socket-connection endpoint="ion"
                       on-data="onData">
    </socket-connection>

  </template>

  <script>
    Polymer({
      is: 'hb-ion-people-tile',
      usersCount: 0,
      allPeopleCount: 0,
      allPeopleTextClass: '',
      allPeopleBorderClass: '',
      onData: function (ev, data) {
        this.usersCount = data.users;
        this.allPeopleCount = data.allPeopleCount;
        this.homeOfficeCount = data.homeoffice;

        if ((this.usersCount > 0) && (this.usersCount == this.allPeopleCount)) {
          this.allPeopleTextClass = 'text-green';
          this.allPeopleBorderClass = 'border-green';
        }

        this.$.tile.ping();
      }
    });
  </script>
</dom-module>
