module.exports = exports = {
    HttpPort: 8123,
    WebSocketsPort: 3000,
    plugins: {
        // we can override specific plugin options here
        ion: {
            serverUrl: '',
            token: '',
            // ion now not have hardly specified 'home' location. locations can
            // be dynamically defined by admins. we can't be sure about index of
            // home location, so we set in here, in options.
            homeLocationIndex: 1
        },
        'google-calendar': {
            calendarId: '10clouds.com_tqb8hc197h8huelk6i1qi67edg@group.calendar.google.com',
        },
        rooms: {
            serverUrl: '',
            timeout: 500
        },
        github: {
            serverUrl: '',
            user: '',
            org: '',
            authorizationToken: 'Token 2d77860e636c46d5d9cd6720437a4989d60d9a5a'
        },
        slack: {
            token: '',
            channels: []
        },
        network: {
            maxCap: 1024 * 1024 * 40 * 60, // 40mbits in one minute
            maxCharPoints: 20,
            sourceFilePath: ''
        },
        weather: {
            serverUrl: 'https://api.openweathermap.org/data/2.5/weather?q=City,Country&APPID=???',
        },
    }
};
