
.bicycles-item {
  margin-bottom: 20px;

  @media #{$media-lg-xl} {
    margin-bottom: 15px;
  }

  & &__name {
    margin-bottom: 5px;

    @media #{$media-lg-xl} {
      margin-top: 0;
    }
  }
}

hb-bicycles-tile {
  @media #{$media-to-md} {
    order: 1;
  }
}
