
.photos-item {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hb-instagram-tile,
.hb-fb-tile{
  .content-container, value{
    width: 100%;
    height: 100%;
  }
}
