<link rel="import" href="../tile.html">
<link rel="import" href="../../socket-connection.html">

<dom-module id="hb-fb-tile">

  <template>
    <hb-tile id="tile">
      <value>
        <template is="dom-repeat" items="{{photos}}" indexAs="index">
          <div class="photos-item fade" style$="{{ itemStyle(item.picture, index) }}">
          </div>
        </template>
      </value>

    </hb-tile>

    <socket-connection endpoint="facebook" on-data="onData"></socket-connection>
  </template>

  <script>
    var fbSlideIndex = 0,
      fbRefreshed = false;

    Polymer({
      is: 'hb-fb-tile',
      photos: [],
      onData: function (ev, data) {
        this.photos = data;
        this.$.tile.ping();

        //Fired only once
        if (fbRefreshed === false) {
          slider.showSlides("photos-item", fbSlideIndex, 8000);
        }
        fbRefreshed = true;
      },
      itemStyle: function (img, index) {
        if (index == 0) {
          return 'display:block; background-image:url(' + img + ')'
        }
        return 'display:none; background-image:url(' + img + ')';
      }
    });

  </script>
</dom-module>


