<link rel="import" href="../base.html">
<link rel="import" href="../socket-connection.html">

<dom-module id="hb-network-capacity-chart">
  <style>
    :host {
      height: 243px;
      background: #BC7DE0;
      -webkit-transition: -webkit-transform 500ms;
      -moz-transition: -moz-transform 500ms;
      -ms-transition: -ms-transform 500ms;
      -o-transition: -o-transform 500ms;
      transition: transform 500ms;
    }
    :host(.beat) {
      -webkit-transform: scale(1.05,1.05);
      -moz-transform: scale(1.05,1.05);
      -ms-transform: scale(1.05,1.05);
      -o-transform: scale(1.05,1.05);
      transform: scale(1.05,1.05);
    }
    :host canvas {
      position: absolute;
      top: 0;
    }
    :host hb-tile {
      background: transparent;
    }
    :host hb-tile value {
      color: white;
      font-size: 25px;
      letter-spacing: 5px;
    }
  </style>
  <template>
    <canvas id="myChart" height="243" width="100"></canvas>
    <hb-tile id="tile">
      <value>Network Usage</value>
      <header><span>&nbsp;</span></header>
      <description>&nbsp;</description>
      <endpoint></endpoint>
    </hb-tile>
    <socket-connection endpoint="network"
                       on-data="onData">
    </socket-connection>
  </template>
  <script>
    Polymer({
      is: 'hb-network-capacity-chart',
      prevData: 100,
      maxCap: 0,
      maxCharPoints: 0,
      capacityChart: undefined,
      chart: {
          labels: [],
          datasets: [
              {
                  label: 'Network Capacity',
                  fillColor: 'rgba(220,220,220,0.2)',
                  strokeColor: 'rgba(220,220,220,1)',
                  pointColor: 'rgba(220,220,220,1)',
                  pointStrokeColor: '#fff',
                  pointHighlightFill: '#fff',
                  pointHighlightStroke: 'rgba(220,220,220,1)',
                  data: []
              }
          ]
      },
      ping: function () {
        var el = this;
        el.classList.add('beat');
        setTimeout(function(){
          el.classList.remove('beat');
        }, 250);
      },
      formatDate: function (date) {
        return date.getHours() + ':' +
          (date.getMinutes() > 9 ?
            date.getMinutes() :
            '0' + date.getMinutes()
          );
      },
      onData: function (data) {
        var bytesArr = data.detail.usageHistory;

        var chart = this.smoothieChartFactory({
          maxCharPoints: data.detail.maxCharPoints,
        });
        var series = chart.seriesSet[0].timeSeries;

        if (this.dataInitialized) {
          extendMainSeries(bytesArr.pop());
        } else {
          bytesArr.forEach(function (byteData) {
            extendMainSeries(byteData);
          });
        }

        function extendMainSeries(byteData) {
          series.append(new Date(byteData.time), byteData.bytes);
        }

        this.dataInitialized = true;
        this.ping();
      },
      ready: function () {
        var $chart = this.$.myChart;
        var component = this;

        // we use `WebComponentsReady` cauze some problems with get
        // component proper width before this events happen
        window.addEventListener('WebComponentsReady', onComponentsReady);

        function onComponentsReady() {
          $chart.width  = component.clientWidth;
          $chart.height = document.querySelector('.app-logo').clientHeight;
          $chart.style.width = component.clientWidth  + 'px';
          $chart.style.height = document.querySelector('.app-logo').clientHeight + 'px';
        }
      },
      smoothieChartFactory: function (options) {
        if (!this._chart) {
          var msPerPixel = (1000 * 60 * (options.maxCharPoints - 1)) / this.$.myChart.width;
          var chart = new SmoothieChart({
            millisPerPixel: msPerPixel,
            labels:{
              precision: 0,
              fontSize: 14,
            },
            grid: {
              strokeStyle: '#555555',
              lineWidth: 1,
              millisPerLine: 60000,
              verticalSections: 6
            },
            timestampFormatter: function (date) {
              if (date.getMinutes() % 2 === 1) {
                return '';
              }
              const minutes   = date.getMinutes();
              const hours = date.getHours();
              return (hours < 10 ? '0' : '') + hours + ':' + (minutes < 10 ? '0' : '') + minutes;
            },
            maxValue:100,
            minValue:0
          });

          chart.addTimeSeries(new TimeSeries(), {
            strokeStyle: 'rgba(0, 255, 0, 1)',
            fillStyle: 'rgba(0, 255, 0, 0.2)',
            lineWidth: 4,
          });

          chart.streamTo(this.$.myChart, 60000);
          this._chart = chart;
        }
        return this._chart;
      },
    });
  </script>
</dom-module>
