<link rel="import" href="../tile.html">
<link rel="import" href="../../socket-connection.html">

<dom-module id="hb-github-commits-tile">
  <style>
    :host hb-tile {
      background: #fad733;
    }

    :host(:nth-child(even)) hb-tile {
      background: #eed329;
    }
  </style>
  <template>

    <hb-tile id="tile">
      <value>{{ commitsCount }}</value>
      <header>commits</header>
      <description>today</description>
      <endpoint>Github</endpoint>
    </hb-tile>

    <socket-connection endpoint="github"
                       on-data="onData">
    </socket-connection>

  </template>
  <script>
    Polymer({
      is: 'hb-github-commits-tile',
      commitsCount: 0,
      onData: function (ev, data) {
        this.commitsCount = data.commits;
        this.$.tile.ping();
      }
    });
  </script>
</dom-module>
