<link rel="import" href="../tile.html">
<link rel="import" href="../../socket-connection.html">

<dom-module id="hb-github-leader-tile">

  <template>
    <hb-tile id="tile" class="github">
      <value class="github__leader">{{ leader }}</value>

      <description>
        <div class="hb-tile__footer">
          <p>today</p>
          <p class="hb-tile__footer-header">commit master</p>
          <p>Github</p>
        </div>
      </description>
    </hb-tile>

    <socket-connection endpoint="github"
                       on-data="onData">
    </socket-connection>

  </template>
  <script>
    Polymer({
      is: 'hb-github-leader-tile',
      leader: 'Nobody',
      onData: function (ev, data) {
        this.leader = data.top_commiter;
        this.$.tile.ping();
        this.$.tile.autosizeFont(this.leader);
      }
    });
  </script>
</dom-module>
