<link rel="import" href="../tile.html">
<link rel="import" href="../../socket-connection.html">

<dom-module id="hb-github-pr-tile">

  <template>

    <hb-tile id="tile">
      <value>
        <img class="app-img-svg" src="./../../../assets/idea.svg" alt="">
        <span>{{ openPullRequests }}</span>
      </value>

      <description>
        <div class="hb-tile__footer">
          <p>this week</p>
          <p class="hb-tile__footer-header">open pr</p>
          <p>Github</p>
        </div>
      </description>

    </hb-tile>

    <socket-connection endpoint="github"
                       on-data="onData">
    </socket-connection>

  </template>
  <script>
    Polymer({
      is: 'hb-github-pr-tile',
      openPullRequests: 0,
      onData: function (ev, data) {
        this.openPullRequests = data.pull_requests;
        this.$.tile.ping();
      }
    });
  </script>
</dom-module>
